/* Start display for codepen do not need this code */

body {
  display: table;
  margin: 20px auto;
  background: #999;
}

/* End display */


.simple-slide { 
  background: url(img/1.jpg) no-repeat 0 0; /* 1st slide */
  position: relative;
  width: 1000px; /* image width */
  height: 350px; /* image height */
  box-shadow: 1px 1px 10px rgba(0,0,0,.7); /* Optional */
}

.simple-slide img { 
  position: absolute;
  left: 0;
  top: 0;
}